[workspace]
members = [
  "practice-tool",
  "lib/libeldenring",
  "lib/param-tinkerer",
  "lib/no-logo",
  "xtask",
]
exclude = [
  "lib/hudhook"
]

[profile.release]
strip = "symbols"
lto = true

[workspace.dependencies]
hudhook = { git = "https://github.com/veeenu/hudhook" }
